@{
    ViewData["Title"] = "Home Page";
}

<section class="products">
    @foreach (Product product in (Product[])ViewData["Products"]!)
    {
        <div class="product">
            <div class="image">
                <img src="@product.Image" alt="@product.Name" width="400" height="300" />
            </div>
            <div class="product-data">
                <div class="category">@product.Category</div>
                <div class="name">@product.Name</div>
                <p>@product.Description</p>
                <div class="details"><a asp-action="Product" asp-route-id="@product.Id">التفاصيل</a></div>

            </div>
        </div>
    }
</section>
